{% include('./component/css.html.twig') %}
{% include('./component/menu.html.twig') %}
   <section id="main-content">
      <section class="wrapper">
        <div class="form-group">
          <div class="form-panel">
              <h4 class="mb"><i class="fa fa-angle-right"></i> Responsable : Modification</h4>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
</div>
</section>
</section>
{% include('./component/script.html.twig') %}