{% include('./component/css.html.twig') %}
{% include('./component/menu.html.twig') %}
   <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
</div>
</section>
</section>
{% include('./component/script.html.twig') %}