<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
	<h5>Page consultation d'une typeEnseigne</h5>
    <p>{{typeEnseigne.id}}<p>
    <p>{{typeEnseigne.libelle}}</p>
    </body>
</html>